{% extends 'recipes/base.html' %}

<!---->
{% block content %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-3">Log in!</legend>
      {{ form.as_p }}
    </fieldset>
    <div class="form-group py-3">
      <input class="btn btn-outline-primary" type="submit" value="login" />
    </div>
  </form>
  <div class="border-top pt-3">
    <a href="#">Already have an account? Log in please.</a>
  </div>
</div>
{% endblock content %}
    

